body {
  background-color: #635666;
}
hr {
  border-style:none;
  border-top-style: dotted;
  border-color: #D1D1D1;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #e6e6fa;
}
h3{
  color: #DAEAF1;
}
